/* Spacer Primitive */

.spacer {
  flex-shrink: 0;
}

/* Spacer sizes */
.spacer--xs {
  height: var(--gap-xs);
  width: var(--gap-xs);
}

.spacer--sm {
  height: var(--gap-sm);
  width: var(--gap-sm);
}

.spacer--md {
  height: var(--gap-md);
  width: var(--gap-md);
}

.spacer--lg {
  height: var(--gap-xl);
  width: var(--gap-xl);
}

.spacer--xl {
  height: var(--gap-xl);
  width: var(--gap-xl);
}

.spacer--2xl {
  height: var(--padding-section-sm);
  width: var(--padding-section-sm);
}
